flows.json
[
    {
        "id": "8e932e01e63c8fdd",
        "type": "tab",
        "label": "Laboratório de Eletrônica",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74fb88372bcc76d9",
        "type": "tab",
        "label": "Controle de Qualidade",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47929fac0d6662bb",
        "type": "tab",
        "label": "Usinagem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aea6ca718c07f50a",
        "type": "tab",
        "label": "Almoxarifado",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "600f18c524d0401e",
        "type": "tab",
        "label": "Soldagem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b67770b83b3b97a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca962536a40150c1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7d07f2b00a42ea84",
        "type": "ui_group",
        "name": "Digital Input",
        "tab": "5b67770b83b3b97a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e622191508346a26",
        "type": "ui_group",
        "name": "Analog Output",
        "tab": "5b67770b83b3b97a",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "edeaba2df0e0cdd9",
        "type": "ui_group",
        "name": "Analog Input",
        "tab": "5b67770b83b3b97a",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c28434743ea5a5f8",
        "type": "ui_group",
        "name": "Ponte Rolante",
        "tab": "5b67770b83b3b97a",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "96190981650074da",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "360d8d0e06f04a11",
        "type": "ui_group",
        "name": "Digital Input",
        "tab": "96190981650074da",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c38a60398eb97a0",
        "type": "ui_group",
        "name": "Analog Input",
        "tab": "96190981650074da",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "50ab811d4df249bf",
        "type": "ui_group",
        "name": "Analog Output",
        "tab": "96190981650074da",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf6224715fb8b552",
        "type": "mqtt-broker",
        "name": "HIVEMQ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cf80a09604bac1a3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3b7c767f33ac740d",
        "type": "ui_tab",
        "name": "Almoxarifado",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1ee0a9825dd8964c",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "3b7c767f33ac740d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "001e2f534bfd9dd3",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "3b7c767f33ac740d",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4705bfbee0429a6c",
        "type": "ui_group",
        "name": "Incendio",
        "tab": "3b7c767f33ac740d",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b6e77ad1fb37ce7",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "3b7c767f33ac740d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "356c783d06c96cc8",
        "type": "ui_tab",
        "name": "Usinagem",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0f5f3b307076ccac",
        "type": "ui_group",
        "name": "Vibração",
        "tab": "356c783d06c96cc8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c2b3fcc9278ddc3",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "356c783d06c96cc8",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdf94269062095dc",
        "type": "ui_group",
        "name": "Presença",
        "tab": "3b7c767f33ac740d",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "853df73b0fb471df",
        "type": "ui_group",
        "name": "Tensão",
        "tab": "356c783d06c96cc8",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "76f22b41866be35b",
        "type": "ui_group",
        "name": "Presença",
        "tab": "356c783d06c96cc8",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "98668ca1fca835d9",
        "type": "ui_tab",
        "name": "Soldagem",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cfab67b6486da123",
        "type": "ui_group",
        "name": "Presença",
        "tab": "98668ca1fca835d9",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a07bfba21f6a198",
        "type": "ui_group",
        "name": "Retirada/Devolução",
        "tab": "3b7c767f33ac740d",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a68084759c408cce",
        "type": "ui_group",
        "name": "Tensão",
        "tab": "98668ca1fca835d9",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9add42bf44db3a67",
        "type": "ui_tab",
        "name": "Laboratório de Eletrônica",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c91a509378efee07",
        "type": "ui_group",
        "name": "Sensor de Umidade",
        "tab": "9add42bf44db3a67",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "129aba470b9725f4",
        "type": "ui_group",
        "name": "Incêndio",
        "tab": "9add42bf44db3a67",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b92c58d6c3bfb2a",
        "type": "ui_spacer",
        "z": "74fb88372bcc76d9",
        "name": "spacer",
        "group": "1ee0a9825dd8964c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ed5dd580b6bb249",
        "type": "ui_spacer",
        "z": "74fb88372bcc76d9",
        "name": "spacer",
        "group": "1ee0a9825dd8964c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6738dcf418077b63",
        "type": "ui_spacer",
        "z": "74fb88372bcc76d9",
        "name": "spacer",
        "group": "1ee0a9825dd8964c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5d86035eae1f4009",
        "type": "ui_spacer",
        "z": "74fb88372bcc76d9",
        "name": "spacer",
        "group": "1ee0a9825dd8964c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7a5bec293f55c95",
        "type": "ui_tab",
        "name": "Controle de Qualidade",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "92cb132067fd5c20",
        "type": "ui_group",
        "name": "Topico",
        "tab": "e7a5bec293f55c95",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f23c729161f189dd",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "9add42bf44db3a67",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d012baff5c8e384",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "e7a5bec293f55c95",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "796c136b07118235",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "e7a5bec293f55c95",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6460c83bdc9d430",
        "type": "MySQLdatabase",
        "name": "VISTECH",
        "host": "be8hoek38c6yhugsstyj-mysql.services.clever-cloud.com",
        "port": "3306",
        "db": "be8hoek38c6yhugsstyj",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fc7c6dcb42f37325",
        "type": "mqtt-broker",
        "name": "HIVEMQ TEMP CQ",
        "broker": "broker.hivemq.com",
        "port": "9000",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "meu-broker-mqtt",
        "type": "mqtt-broker",
        "name": "Meu Broker",
        "broker": "SEU_BROKER_MQTT",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": {},
        "sessionExpiry": ""
    },
    {
        "id": "547fb7b416acbf55",
        "type": "ui_text",
        "z": "8e932e01e63c8fdd",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Laboratório de Eletrônica",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "860cb49a8d45e2eb",
        "type": "ui_gauge",
        "z": "8e932e01e63c8fdd",
        "name": "",
        "group": "c91a509378efee07",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e6e600",
            "#00e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "11c728230b6d1a40",
        "type": "ui_text",
        "z": "8e932e01e63c8fdd",
        "group": "c91a509378efee07",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}% de umidade ambiente",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "cb1a847bc07a6a03",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "function 11",
        "func": "if (msg.payload == 100){\n    msg.topic = \"Alerta de incêndio no Laboratório de Eletrônica!\";\n    return msg;\n}\nelse{\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "8a2a5ae125b11c57"
            ]
        ]
    },
    {
        "id": "8a2a5ae125b11c57",
        "type": "ui_toast",
        "z": "8e932e01e63c8fdd",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7b8ac55b9605c7f2",
        "type": "mqtt in",
        "z": "8e932e01e63c8fdd",
        "name": "",
        "topic": "VisTech Sensor de Umidade LAB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "860cb49a8d45e2eb",
                "11c728230b6d1a40"
            ]
        ]
    },
    {
        "id": "1b89a6598a59e3bd",
        "type": "ui_text",
        "z": "8e932e01e63c8fdd",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Umidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 160,
        "y": 140,
        "wires": []
    },
    {
        "id": "10ecc28be17bcb58",
        "type": "mqtt in",
        "z": "8e932e01e63c8fdd",
        "name": "",
        "topic": "VisTech Sensor de Incendio LAB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "cb1a847bc07a6a03"
            ]
        ]
    },
    {
        "id": "b668598ba9833e4a",
        "type": "ui_text",
        "z": "8e932e01e63c8fdd",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Incêndio",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "cdfd3f18fb250349",
        "type": "ui_gauge",
        "z": "8e932e01e63c8fdd",
        "name": "",
        "group": "f23c729161f189dd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor de Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#2a8dea",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "52405d3f2cdcfee1",
        "type": "mqtt in",
        "z": "8e932e01e63c8fdd",
        "name": "",
        "topic": "VisTech Sensor de Temperatura LAB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "cdfd3f18fb250349",
                "a73e08eb65e1e9f5"
            ]
        ]
    },
    {
        "id": "e0a9a63f7dce031d",
        "type": "ui_text",
        "z": "8e932e01e63c8fdd",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "3d9d1db6b699d5e4",
        "type": "ui_toast",
        "z": "8e932e01e63c8fdd",
        "position": "top right",
        "displayTime": "10",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "a73e08eb65e1e9f5",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "function 4",
        "func": "if (msg.payload > 45){\n    msg.topic = \"A temperatura ambiente (LAB) está acima do permitido. O ar condionado será acionado.\";\n    return msg;\n}\nif (msg.payload < 17){\n    msg.topic = \"A temperatura ambiente (LAB) está abaixo do permitido. O ar condionado será acionado.\";\n    return msg;\n}\nelse{\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 460,
        "wires": [
            [
                "3d9d1db6b699d5e4"
            ]
        ]
    },
    {
        "id": "d21d2691b87e81c7",
        "type": "ui_text",
        "z": "8e932e01e63c8fdd",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Acesso",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 160,
        "y": 540,
        "wires": []
    },
    {
        "id": "44697956c3b8e010",
        "type": "mqtt in",
        "z": "8e932e01e63c8fdd",
        "name": "",
        "topic": "VisTech Sensor de Acesso IN",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 580,
        "wires": [
            [
                "c65df9899d016052"
            ]
        ]
    },
    {
        "id": "317455ea261b2f78",
        "type": "mysql",
        "z": "8e932e01e63c8fdd",
        "mydb": "d6460c83bdc9d430",
        "name": "BDVISTECH",
        "x": 750,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c65df9899d016052",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "Gerenciamento de Acesso",
        "func": "const meuArray = msg.payload; \nlet name = \"\";\nlet id = \"\";\nlet data = \"\";\n\n/*if (Array.isArray(meuArray) && meuArray.length > 0) {\n    // Atribui o elemento escolhido aleatoriamente ao payload\n    name = meuArray[0];\n}\nif (Array.isArray(meuArray) && meuArray.length > 1) {\n    // Atribui o elemento escolhido aleatoriamente ao payload\n    id = meuArray[1];\n}\nif (Array.isArray(meuArray) && meuArray.length > 2) {\n    // Atribui o elemento escolhido aleatoriamente ao payload\n    data = meuArray[2];\n}\n*/\nname = meuArray[0];\nid = meuArray[1];\ndata = meuArray[2];\n\nmsg.topic = \"INSERT INTO `ACESSO`(`NOME`,`ID`,`DATA`) VALUES (?, ?, ?)\";\n// 2. Defina os valores das variáveis em um array, na mesma ordem dos '?' na query\nmsg.payload = [\n    name,       // Corresponde ao primeiro '?' (coluna_nome)\n    id,         // Corresponde ao segundo '?' (coluna_id)\n    data        // Corresponde ao terceiro '?' (coluna_data)\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "317455ea261b2f78",
                "1e5642ae4e69c9c2"
            ]
        ]
    },
    {
        "id": "f0c9849af7447fb8",
        "type": "mqtt out",
        "z": "8e932e01e63c8fdd",
        "name": "Umidade",
        "topic": "VisTech Sensor de Umidade LAB",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 600,
        "y": 1060,
        "wires": []
    },
    {
        "id": "513f915ff8bdf0f2",
        "type": "inject",
        "z": "8e932e01e63c8fdd",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 1060,
        "wires": [
            [
                "5c210d89a0543779"
            ]
        ]
    },
    {
        "id": "5c210d89a0543779",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "Umidade",
        "func": "const min = 10;\nconst max = 60;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "f0c9849af7447fb8"
            ]
        ]
    },
    {
        "id": "9781d0dab297e82d",
        "type": "mqtt out",
        "z": "8e932e01e63c8fdd",
        "name": "Incêndio",
        "topic": "VisTech Sensor de Umidade LAB",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 600,
        "y": 1100,
        "wires": []
    },
    {
        "id": "419893be3155b551",
        "type": "inject",
        "z": "8e932e01e63c8fdd",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "98bee4d097e86a09"
            ]
        ]
    },
    {
        "id": "98bee4d097e86a09",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "Incêndio",
        "func": "const min = 10;\nconst max = 100;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "9781d0dab297e82d"
            ]
        ]
    },
    {
        "id": "ebc72116a0824dce",
        "type": "mqtt out",
        "z": "8e932e01e63c8fdd",
        "name": "Temperatura",
        "topic": "VisTech Sensor de Temperatura LAB",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 590,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3aefc66516464a13",
        "type": "inject",
        "z": "8e932e01e63c8fdd",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 1140,
        "wires": [
            [
                "b7aac38a5811e00c"
            ]
        ]
    },
    {
        "id": "b7aac38a5811e00c",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "Temperatura",
        "func": "const min = 10;\nconst max = 50;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "ebc72116a0824dce"
            ]
        ]
    },
    {
        "id": "61322b66a967bfea",
        "type": "ui_button",
        "z": "8e932e01e63c8fdd",
        "name": "",
        "group": "f23c729161f189dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Normalizar Temperatura",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "25",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "ebc72116a0824dce"
            ]
        ]
    },
    {
        "id": "948eb957112e29ca",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "Acesso",
        "func": "const min = 1;\nconst max = 5;\nconst data = msg.payload;\n// Inicializa a variável 'nome' com um valor padrão.\n// Usamos 'let' porque seu valor será alterado dentro do 'if'.\nlet nome = \"Desconhecido\"; // Nomeando a variável 'nome' para evitar conflito com 'name' global ou de navegador.\nlet id = \"123456\"\n// Gerar um número aleatório inteiro entre min e max (inclusive)\nconst numGerado = Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Define o nome baseado no número gerado\nif (numGerado === 1) { // Usar '===' é boa prática para comparação\n        nome = \"Erick\",\n        id = \"220403\"\n} else if (numGerado === 2) {\n        nome = \"Guilherme\",\n        id = \"111105\"\n} else if (numGerado === 3) {\n        nome = \"Higor\",\n        id = \"090005\"\n} else if (numGerado === 4) {\n        nome = \"Kawa\",\n        id = \"300505\"\n} else { // Para numGerado === 4 ou qualquer outro caso\n        nome = \"Rafael\",\n        id = \"020785\"\n}\n\n\n// Criar o objeto JSON e atribuí-lo a msg.payload\n// É aqui que você define a estrutura do seu JSON.\nmsg.payload = [nome, id, data];\n//    nome,id,data\n//};\n\n// Se você precisar de algo no msg.topic, deve ser uma string simples:\n// msg.topic = \"dadosAleatorios\";\n\n// 'data' não foi utilizada, então a removemos ou inicializamos se for necessária.\n// Exemplo:\n// const data = new Date().toISOString(); // Se você quisesse a data atual\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1260,
        "wires": [
            [
                "82cc8c498da17d14"
            ]
        ]
    },
    {
        "id": "82cc8c498da17d14",
        "type": "mqtt out",
        "z": "8e932e01e63c8fdd",
        "name": "Acesso",
        "topic": "VisTech Sensor de Acesso IN",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 820,
        "y": 1260,
        "wires": []
    },
    {
        "id": "140e466a8e27c106",
        "type": "inject",
        "z": "8e932e01e63c8fdd",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1260,
        "wires": [
            [
                "c2273aa9bfb3ae00"
            ]
        ]
    },
    {
        "id": "c2273aa9bfb3ae00",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "Acesso",
        "func": "/*const timestampMilli = msg.payload;\nconst data = new Date(timestampMilli);\n\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0');\nconst dia = String(data.getDate()).padStart(2, '0');\n\nconst resultado = `${dia}-${mes}-${ano}`;\nmsg.payload = resultado;\n\nreturn msg;\n*/\n// Obtém o timestamp original em milissegundos do payload\nconst timestampMilli = msg.payload;\n\n// Cria um objeto Date a partir do timestamp\nconst data = new Date(timestampMilli);\n\n// Formatar para YYYY-MM-DD HH:mm:ss (sem milissegundos)\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês é 0-indexed\nconst dia = String(data.getDate()).padStart(2, '0');\nconst horas = String(data.getHours()).padStart(2, '0');\nconst minutos = String(data.getMinutes()).padStart(2, '0');\nconst segundos = String(data.getSeconds()).padStart(2, '0');\n\nmsg.payload = `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "948eb957112e29ca"
            ]
        ]
    },
    {
        "id": "1e5642ae4e69c9c2",
        "type": "debug",
        "z": "8e932e01e63c8fdd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "2be9c7274c5a5312",
        "type": "function",
        "z": "8e932e01e63c8fdd",
        "name": "Gerenciamento de Acesso",
        "func": "msg.topic = \"INSERT INTO ACESSO (NOME,ID,DATA) VALUES(:NOME,:ID,:DATA)\"\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 1980,
        "wires": [
            [
                "893a0928755d2e07"
            ]
        ]
    },
    {
        "id": "893a0928755d2e07",
        "type": "mysql",
        "z": "8e932e01e63c8fdd",
        "mydb": "d6460c83bdc9d430",
        "name": "BD",
        "x": 410,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "2ca6f8351779df3a",
        "type": "ui_text",
        "z": "74fb88372bcc76d9",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Controle de Qualidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "d5d9d76e8f5d8f2d",
        "type": "ui_gauge",
        "z": "74fb88372bcc76d9",
        "name": "",
        "group": "4d012baff5c8e384",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Controle de Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e6e600",
            "#00e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "2f01bce95f3a0624",
        "type": "ui_gauge",
        "z": "74fb88372bcc76d9",
        "name": "",
        "group": "796c136b07118235",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Controle de Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#2a8dea",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "be18c7eda8fcbf85",
        "type": "ui_toast",
        "z": "74fb88372bcc76d9",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a4c2ebb31a734bbd",
        "type": "function",
        "z": "74fb88372bcc76d9",
        "name": "function 5",
        "func": "if (msg.payload > 45){\n    msg.topic = \"A temperatura ambiente (CQ) está acima do permitido. O ar condionado será acionado.\";\n    return msg;\n}\nif (msg.payload < 17){\n    msg.topic = \"A temperatura ambiente (CQ) está abaixo do permitido. O ar condionado será acionado.\";\n    return msg;\n}\nelse{\n    return null;\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "be18c7eda8fcbf85"
            ],
            [
                "907f8158148d34b5"
            ]
        ]
    },
    {
        "id": "9af55017ab37e15e",
        "type": "mqtt in",
        "z": "74fb88372bcc76d9",
        "name": "",
        "topic": "VisTech Receptor Umidade CQ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "d5d9d76e8f5d8f2d"
            ]
        ]
    },
    {
        "id": "89991bf3e1b042be",
        "type": "mqtt in",
        "z": "74fb88372bcc76d9",
        "name": "",
        "topic": "VisTech Receptor Temperatura CQ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "2f01bce95f3a0624",
                "a4c2ebb31a734bbd"
            ]
        ]
    },
    {
        "id": "9fcae5449a2bf756",
        "type": "mqtt out",
        "z": "74fb88372bcc76d9",
        "name": "Umidade",
        "topic": "VisTech Receptor Umidade CQ",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 540,
        "y": 940,
        "wires": []
    },
    {
        "id": "7422eb5298d2e368",
        "type": "inject",
        "z": "74fb88372bcc76d9",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "12e98ec075a54863"
            ]
        ]
    },
    {
        "id": "12e98ec075a54863",
        "type": "function",
        "z": "74fb88372bcc76d9",
        "name": "function 15",
        "func": "const min = 10;\nconst max = 60;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 940,
        "wires": [
            [
                "9fcae5449a2bf756"
            ]
        ]
    },
    {
        "id": "18e7fc3c7a30552d",
        "type": "ui_button",
        "z": "74fb88372bcc76d9",
        "name": "",
        "group": "796c136b07118235",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Normalizar Temperatura",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "25",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "b8c3ae450d27cdc1"
            ]
        ]
    },
    {
        "id": "70bbdbae65797ce7",
        "type": "mqtt out",
        "z": "74fb88372bcc76d9",
        "name": "Temperatura",
        "topic": "VisTech Receptor Temperatura CQ",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "90a731b256513ec9",
        "type": "function",
        "z": "74fb88372bcc76d9",
        "name": "function 16",
        "func": "msg.payload = 25;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "70bbdbae65797ce7"
            ]
        ]
    },
    {
        "id": "907f8158148d34b5",
        "type": "delay",
        "z": "74fb88372bcc76d9",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "90a731b256513ec9"
            ]
        ]
    },
    {
        "id": "b8c3ae450d27cdc1",
        "type": "mqtt out",
        "z": "74fb88372bcc76d9",
        "name": "Umidade",
        "topic": "VisTech Receptor Temperatura CQ",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 540,
        "y": 980,
        "wires": []
    },
    {
        "id": "254427f5544e6023",
        "type": "inject",
        "z": "74fb88372bcc76d9",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "d23c7a6704192fc4"
            ]
        ]
    },
    {
        "id": "d23c7a6704192fc4",
        "type": "function",
        "z": "74fb88372bcc76d9",
        "name": "function 6",
        "func": "const min = 16;\nconst max = 45;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 980,
        "wires": [
            [
                "b8c3ae450d27cdc1"
            ]
        ]
    },
    {
        "id": "981dd7a20679a03e",
        "type": "ui_chart",
        "z": "47929fac0d6662bb",
        "name": "",
        "group": "0f5f3b307076ccac",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Sensor de Vibração",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8b71657fbee0ec25",
        "type": "ui_gauge",
        "z": "47929fac0d6662bb",
        "name": "",
        "group": "0f5f3b307076ccac",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor de Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#2a8dea",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "d095f878a1bc79dc",
        "type": "ui_chart",
        "z": "47929fac0d6662bb",
        "name": "",
        "group": "853df73b0fb471df",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Sensor de Tensão",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "4000",
        "ymax": "7000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0a9ec7b33f756899",
        "type": "ui_text",
        "z": "47929fac0d6662bb",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Usinagem",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "3416f9e1eee4ac68",
        "type": "mqtt in",
        "z": "47929fac0d6662bb",
        "name": "",
        "topic": "VisTech Sensor de Vibração USI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "981dd7a20679a03e"
            ]
        ]
    },
    {
        "id": "5ac7b681e6a0c8b2",
        "type": "mqtt in",
        "z": "47929fac0d6662bb",
        "name": "",
        "topic": "VisTech Sensor de Temperatura USI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "8b71657fbee0ec25"
            ]
        ]
    },
    {
        "id": "df779707e3961f39",
        "type": "mqtt in",
        "z": "47929fac0d6662bb",
        "name": "",
        "topic": "VisTech Sensor de Tensão USI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "d095f878a1bc79dc"
            ]
        ]
    },
    {
        "id": "cb5d3d50252fa6cc",
        "type": "mqtt out",
        "z": "47929fac0d6662bb",
        "name": "Vibração",
        "topic": "VisTech Sensor de Vibração USI",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "e85ee682ed1ddde2",
        "type": "inject",
        "z": "47929fac0d6662bb",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "85bb0ad17ac43069"
            ]
        ]
    },
    {
        "id": "85bb0ad17ac43069",
        "type": "function",
        "z": "47929fac0d6662bb",
        "name": "function 2",
        "func": "const min = 0;\nconst max = 100;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "cb5d3d50252fa6cc"
            ]
        ]
    },
    {
        "id": "79c29af1eb4d264f",
        "type": "mqtt out",
        "z": "47929fac0d6662bb",
        "name": "Temperatura",
        "topic": "VisTech Sensor de Temperatura USI",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 550,
        "y": 640,
        "wires": []
    },
    {
        "id": "13891348122268f9",
        "type": "inject",
        "z": "47929fac0d6662bb",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "c30bdc8caa9317f9"
            ]
        ]
    },
    {
        "id": "c30bdc8caa9317f9",
        "type": "function",
        "z": "47929fac0d6662bb",
        "name": "function 3",
        "func": "const min = 10;\nconst max = 45;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 640,
        "wires": [
            [
                "79c29af1eb4d264f"
            ]
        ]
    },
    {
        "id": "24be29f7302ebc08",
        "type": "mqtt out",
        "z": "47929fac0d6662bb",
        "name": "Tensão",
        "topic": "VisTech Sensor de Tensão USI",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 560,
        "y": 680,
        "wires": []
    },
    {
        "id": "2742b092073e730e",
        "type": "inject",
        "z": "47929fac0d6662bb",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "d1f404c86d961c2a"
            ]
        ]
    },
    {
        "id": "d1f404c86d961c2a",
        "type": "function",
        "z": "47929fac0d6662bb",
        "name": "function 19",
        "func": "const min = 4500;\nconst max = 6500;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 680,
        "wires": [
            [
                "24be29f7302ebc08"
            ]
        ]
    },
    {
        "id": "282dfd931b8c99bb",
        "type": "ui_gauge",
        "z": "aea6ca718c07f50a",
        "name": "",
        "group": "4b6e77ad1fb37ce7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Controle de Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e6e600",
            "#00e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "1aa5408e49c1a25e",
        "type": "ui_gauge",
        "z": "aea6ca718c07f50a",
        "name": "",
        "group": "001e2f534bfd9dd3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Controle de Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#2a8dea",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "beeecdd8ebc8e424",
        "type": "ui_toast",
        "z": "aea6ca718c07f50a",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a6d14bcf4d5d8649",
        "type": "function",
        "z": "aea6ca718c07f50a",
        "name": "function 7",
        "func": "if (msg.payload > 45){\n    msg.topic = \"A temperatura ambiente está acima do permitido. O ar condionado será acionado.\";\n    return msg;\n}\nif (msg.payload < 17){\n    msg.topic = \"A temperatura ambiente está abaixo do permitido. O ar condionado será acionado.\";\n    return msg;\n}\nelse{\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "beeecdd8ebc8e424"
            ]
        ]
    },
    {
        "id": "a96436c17e5963ca",
        "type": "ui_text",
        "z": "aea6ca718c07f50a",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Almoxarifado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "7acff602980ec604",
        "type": "mqtt in",
        "z": "aea6ca718c07f50a",
        "name": "",
        "topic": "VisTech Receptor Umidade ALM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "282dfd931b8c99bb"
            ]
        ]
    },
    {
        "id": "0ab179870466ffc2",
        "type": "mqtt in",
        "z": "aea6ca718c07f50a",
        "name": "",
        "topic": "VisTech Receptor Temperatura ALM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "1aa5408e49c1a25e",
                "a6d14bcf4d5d8649"
            ]
        ]
    },
    {
        "id": "04b1fc76f76255a3",
        "type": "mqtt in",
        "z": "aea6ca718c07f50a",
        "name": "",
        "topic": "VisTech Sensor de Presença ALM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "0eea8d0ed7ddae01"
            ]
        ]
    },
    {
        "id": "14b106bd0dc536f9",
        "type": "ui_text",
        "z": "aea6ca718c07f50a",
        "group": "cdf94269062095dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "14",
        "color": "#000000",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "0eea8d0ed7ddae01",
        "type": "function",
        "z": "aea6ca718c07f50a",
        "name": "function 8",
        "func": "if (msg.payload == 1){\n    msg.topic = \"Há pessoas na recepção!\"\n    return msg;\n}\nelse{\n    msg.topic = \"Não há pessoas para serem atendidas.\";\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "14b106bd0dc536f9"
            ]
        ]
    },
    {
        "id": "03041fa400b35f23",
        "type": "mqtt out",
        "z": "aea6ca718c07f50a",
        "name": "Umidade",
        "topic": "VisTech Receptor Umidade ALM",
        "qos": "2",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "c31e3d741945c487",
        "type": "inject",
        "z": "aea6ca718c07f50a",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "4f05c13e06bdfcca"
            ]
        ]
    },
    {
        "id": "4f05c13e06bdfcca",
        "type": "function",
        "z": "aea6ca718c07f50a",
        "name": "function 20",
        "func": "const min = 10;\nconst max = 60;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 740,
        "wires": [
            [
                "03041fa400b35f23"
            ]
        ]
    },
    {
        "id": "ca21e990f00b72f8",
        "type": "mqtt out",
        "z": "aea6ca718c07f50a",
        "name": "Presença",
        "topic": "VisTech Sensor de Presença ALM",
        "qos": "2",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 540,
        "y": 780,
        "wires": []
    },
    {
        "id": "7d0272466ceeee2e",
        "type": "inject",
        "z": "aea6ca718c07f50a",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "ddfbe6dc38804408"
            ]
        ]
    },
    {
        "id": "ddfbe6dc38804408",
        "type": "function",
        "z": "aea6ca718c07f50a",
        "name": "function 21",
        "func": "const min = 0;\nconst max = 1;\nmsg.payload = Math.floor(Math.random() * max - min + 1) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 780,
        "wires": [
            [
                "ca21e990f00b72f8"
            ]
        ]
    },
    {
        "id": "c7cdf06f20285c2e",
        "type": "mqtt out",
        "z": "aea6ca718c07f50a",
        "name": "Temperatura",
        "topic": "VisTech Receptor Temperatura ALM",
        "qos": "2",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 530,
        "y": 820,
        "wires": []
    },
    {
        "id": "972f147389bc739e",
        "type": "inject",
        "z": "aea6ca718c07f50a",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "85681bc4b61871e0"
            ]
        ]
    },
    {
        "id": "85681bc4b61871e0",
        "type": "function",
        "z": "aea6ca718c07f50a",
        "name": "function 22",
        "func": "const min = 10;\nconst max = 50;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 820,
        "wires": [
            [
                "c7cdf06f20285c2e"
            ]
        ]
    },
    {
        "id": "07f1767e531a5fe9",
        "type": "function",
        "z": "600f18c524d0401e",
        "name": "function 9",
        "func": "if (msg.payload == true){\n    msg.topic = \"Há colaboradores dentro da área de movimento do robô. Por favor, aguarde!\";\n    msg.payload = \"Atenção!!\"\n}\nelse{\n    msg.topic = \"O robô está operando.\";\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "5bd003349fff93b5"
            ]
        ]
    },
    {
        "id": "f822dd90ce94fac1",
        "type": "ui_text",
        "z": "600f18c524d0401e",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Soldagem",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "5bd003349fff93b5",
        "type": "ui_text",
        "z": "600f18c524d0401e",
        "group": "cfab67b6486da123",
        "order": 1,
        "width": "6",
        "height": "4",
        "name": "",
        "label": "Estado:",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "ca7ad2f11896f11c",
        "type": "ui_chart",
        "z": "600f18c524d0401e",
        "name": "",
        "group": "a68084759c408cce",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Sensor de Tensão",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "5000",
        "ymax": "9000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b76da254b5bd0ba5",
        "type": "mqtt in",
        "z": "600f18c524d0401e",
        "name": "",
        "topic": "VisTech Sensor de Presença SOL",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "07f1767e531a5fe9"
            ]
        ]
    },
    {
        "id": "d275d06958ba8026",
        "type": "mqtt in",
        "z": "600f18c524d0401e",
        "name": "",
        "topic": "VisTech Sensor de Tensão SOL",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cf6224715fb8b552",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "ca7ad2f11896f11c"
            ]
        ]
    },
    {
        "id": "6a93b912675b784a",
        "type": "ui_text",
        "z": "600f18c524d0401e",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Presença",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "71936449340735a2",
        "type": "mqtt out",
        "z": "600f18c524d0401e",
        "name": "Presença",
        "topic": "VisTech Sensor de Presença SOL",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 580,
        "y": 700,
        "wires": []
    },
    {
        "id": "da21f731e8251b6e",
        "type": "inject",
        "z": "600f18c524d0401e",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "cb41a5e478e82a6a"
            ]
        ]
    },
    {
        "id": "cb41a5e478e82a6a",
        "type": "function",
        "z": "600f18c524d0401e",
        "name": "function 17",
        "func": "const min = 0;\nconst max = 1;\nmsg.payload = Math.floor(Math.random() * max - min + 1) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 700,
        "wires": [
            [
                "71936449340735a2"
            ]
        ]
    },
    {
        "id": "5ced85643f546078",
        "type": "mqtt out",
        "z": "600f18c524d0401e",
        "name": "Tensão",
        "topic": "VisTech Sensor de Tensão SOL",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cf6224715fb8b552",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "50383569f81e6bdb",
        "type": "inject",
        "z": "600f18c524d0401e",
        "name": "Trigger A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "25efb5b30d603595"
            ]
        ]
    },
    {
        "id": "25efb5b30d603595",
        "type": "function",
        "z": "600f18c524d0401e",
        "name": "function 18",
        "func": "const min = 6500;\nconst max = 8500;\nmsg.payload = Math.floor(Math.random() * (max - min + 1)) + min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "5ced85643f546078"
            ]
        ]
    }
]